.About p{
    text-align: center;
    font-family: sans-serif;
    color: grey;
    font-size: 20px;
    margin: 90px;
}
.About{
    display: flex;
    justify-content: center;
}
.AboutImg{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.AboutImg img{
    border-radius:100%;
}
.Myfooter{
    background-color: black;
    display: flex;
    justify-content: center;
    padding:24px;
    height: 75px;
}
.Myfooter p{
    font-size: 100vw;
    color: white;
    font-family: sans-serif;
}
.Myfooter span{
    color: orange;
}
@media screen and (max-width:430px) {
    .Myfooter{
        height: 66px;
    }
    .Myfooter p{
        font-size: 16px;
    }
}
