.Experience-heading h1{
    text-align: center;
    padding: 50px;
    color: #2857a4;
    font-family: sans-serif;
}
.first{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px;
    font-family: sans-serif;
    height: 120vh;
    padding: 30px;
}
.secondh1{
    color: orange;
}
.firsth1{
    color: #2857a4;
}
.second{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family: sans-serif;
    height: 120vh;
    padding: 30px;
}
.main{
    display: flex;
}
.vertical {
    border-left:0px solid black;
    border-top: 0px;
    height: 830px;
    border-style: dashed;
}
.Myfooter{
    background-color: black;
    display: flex;
    justify-content: center;
    padding:24px;
}
.Myfooter p{
    font-size: 20px;
}
.Myfooter span{
    color: orange;
}
.Experience-heading h1 svg{
    margin: 7px;
}
@media screen and (max-width: 1024px) {
    .first{
    font-size: 12px;

    }
    .firsth1{
        font-size: 24px;
    }
    .secondh1{
        font-size: 24px;
    }
    .second{
        font-size: 12px;
    }
    .vertical{
        height:480px;
    }
  }

  @media screen and (max-width:768px) {
        .main{
            height: 610px;
        }
        .vertical{
            height: 581px;
        }
        .Myfooter p{
            font-size: 16px;
        }
  }
  @media screen and (max-width:430px) {
    .firsth1{
        font-size: 16px;
    }
    .Experience-heading h1{
    text-align: center;
    padding: 80px;
    color: #2857a4;
    font-family: sans-serif;
}
    .secondh1{
        font-size: 16px;
    }
    .main{
        height:1210px
    }
    .vertical {
        height: 1200px;
    }
    .second{
        width: 42%;
    }
    .Myfooter p{
        font-size: 14px;
    }
    .Adress2 h1{
        font-size: 19px;
    }
    
  }

